.Label_FG:hover{
    -fx-text-fill: #fc0000;
    -fx-underline: true;
}

.Btn_sign{
    -fx-background-color: #4a79ff;
}

.Btn_sign:hover{
    -fx-background-color: #003bfc;
    -fx-scale-x: 1.20;
    -fx-scale-y: 1.20;
}

